<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Musicas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">

  <ion-title style=" text-align: center;">Lista de Reprodução</ion-title>

  <br>

  <ion-list>
    <ion-item>
      <ion-icon name="musical-note-outline"></ion-icon>
      Musica 1
      <ion-icon name="play-outline" style=" margin-left: 80%;"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-icon name="musical-note-outline"></ion-icon>
      Musica 2
    </ion-item>

    <ion-item>
      <ion-icon name="musical-note-outline"></ion-icon>
      Musica 3
    </ion-item>

    <ion-item>
      <ion-icon name="musical-note-outline"></ion-icon>
      Musica 4
    </ion-item>

    <ion-item>
      <ion-icon name="musical-note-outline"></ion-icon>
      Musica 5
    </ion-item>

  </ion-list>

</ion-content>
