<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">
      Configurações
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-title style=" text-align: center;">Opções de Configurações</ion-title>
<ion-list>

  <ion-item>
    <ion-icon name="megaphone-outline"></ion-icon>
    Volume
  </ion-item>

  <ion-item>
    <ion-icon name="document-text-outline"></ion-icon>
    Letra da Musica
  </ion-item>


  <ion-item>
    <ion-icon name="cloud-download-outline"></ion-icon>
    Downloads
  </ion-item>

  
  <ion-item>
    <ion-icon name="star-outline"></ion-icon>
    Favoritos
  </ion-item>

  
  <ion-item>
    <ion-icon name="chatbox-ellipses-outline"></ion-icon>
    Inserir Comentarios
  </ion-item>

  
  <ion-item>
    <ion-icon name="arrow-redo-circle-outline"></ion-icon>
    Compartilhar
  </ion-item>

  
  <ion-item>
   <ion-icon name="person-circle-outline"></ion-icon>
    Perfil Usuario
  </ion-item>

  
  <ion-item>
    <ion-icon name="arrow-back-outline"></ion-icon>
    Sair da Conta
  </ion-item>
  
</ion-list>

</ion-content>